
/* DATEI: format.css */

body	{
			background-color: 	white;	
			font-family:		Arial;
            margin: 1.5% 5%;
		
}
p		{
			text-align:			center;
		}			
h1      { 
           color:            black;
		   background-color: white;
        }
h2		{
			color: 			  black;
}
ul		{
			list-style-type:  circle; 
}

ol		{
			list-style-type: lower-alpha; 
}

img		{
			width: 30%;
			height: auto;
            margin: 0 35%;
}

iframe {
            width: 100%;
}
